<% provide(:title, 'Home') %>
<div class="row">
	<div class="jumbotron">
		<h2 style="color:red;">Good News!</h2>
		<h2 class="text-center">Do you want to rent easily?</h2>	
		<%=link_to "Click me!", generate_contract_form_path %>
	</div>

</div>

