<% provide(:title, 'Home') %>
<div class="row">
	<div id="myCarousel" class="carousel slide">
		<ol class="carousel-indicators">
			<li data-target="#myCarousel" data-slide-to="0" class="active"></li>
			<li data-target="#myCarousel" data-slide-to="1"></li>
			<li data-target="#myCarousel" data-slide-to="2"></li>
		</ol>   
		<div class="carousel-inner">
			<div class="item active">
				<img src="/assets/bg1.png" alt="First slide">
			</div>
			<div class="item">
				<img src="/assets/bg2.png" alt="Second slide">
			</div>
			<div class="item">
				<img src="/assets/bg3.jpg" alt="Third slide">
			</div>
		</div>
		<a class="carousel-control left" href="#myCarousel" 
		data-slide="prev">&lsaquo;</a>
		<a class="carousel-control right" href="#myCarousel" 
		data-slide="next">&rsaquo;</a>
	</div> 
	<div class="jumbotron">
		<p style="color:red;">Good News!</p>
		<h2 class="text-center">Do you want to rent easily?</h2>	
		<%=link_to "Click me!", generate_contract_form_path, class: "btn btn-default text-center" %>
	</div>
</div>

